@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
#00CC66
#E0D100
#202A25
#D6D7EB
#E4E5F2
#F2F4F3
*/

body {
    background-color: #4e182f;
    font-family: "Lato", open-sans;
}
